<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!--Server SAP-->
      <add key="ServerSAP" value="10.23.0.60:30015"/>
      <add key="LicenseServer" value="10.23.0.61:40000"/>
      <add key="DataServerType" value="HANA"/>
      <add key="SapUser" value="desa1"/>
      <add key="SapPwd" value="987654"/>
      <add key="BD" value="GLT"/>
      <add key="HanaUser" value="SYSTEM"/>
      <add key="HanaPwd" value="Sgt788Py"/>
      <!--Server Oracle-->
      <add key="ServerOracle" value="//192.150.179.197:1522/Middleware" />
      <add key="OracleUser" value="SAP"/>
      <add key="OraclePwd" value="GTS1945PY"/>
      <!-- Estandar NO CAMBIAR -->
      <!-- Cada unidad representa 1 milisegundo (Siempre debe ser mayor que 0) -->
      <add key="miliseconds" value="1000"/>
      <!-- Cada unidad representa 1 seguro (Siempre debe ser mayor que 0) -->
      <add key="seconds" value="20"/>
      <!-- Cada unidad representa 1 minuto (Siempre debe ser mayor que 0) -->
      <add key="minutes" value="1"/>
      <!-- Cada unidad representa 1 hora (Siempre debe ser mayor que 0) -->
      <add key="interval" value="1"/>
    </appSettings>
</configuration>